.Cell {
    display: inline-block;
    margin: 2px;
    margin-top: 3px;
    border-radius: 7px;
    width: 137px;
    height: 137px;
    background-color: #f8f8f8;
    color: #505050;
    font-size: 80px;
}