.Board {
    width: 600px;
    height: 600px;
    margin: auto;
    padding-top: 15px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #dcdcdc;
    box-shadow: 3px 3px #c0c0c0;
    background-color: white;
}